/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  /* Opera/IE 8+ */
  -moz-box-sizing: border-box;
  /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, autres WebKit */
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 100px;
}

.header__logo {
  height: 50px;
}

.header__title {
  color: #901C1C;
  font-size: 36px;
  line-height: 47px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer-header {
  background-color: #FAFAFA;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
  padding: 0 50px;
}

.photographer-header__name {
  color: #D3573C;
  font-size: 64px;
  line-height: 83px;
}

.photographer-header__city {
  color: #901C1C;
  font-size: 24px;
  line-height: 31px;
}

.photographer-header__tagline {
  color: #525252;
  font-size: 18px;
  line-height: 23px;
  margin-top: 20px;
}

.photographer-header__img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.modal_background {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.8);
}

.contact_modal {
  background-color: #DB8876;
  border-radius: 5px;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px;
  margin: 60px auto 0 auto;
}

.contact_modal__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact_modal__btnClose {
  cursor: pointer;
  width: 42px;
  height: 42px;
}

.contact_modal__title {
  font-size: 64px;
  line-height: 83px;
  font-weight: normal;
}

.contact_modal__title--marginbottom {
  margin-bottom: 20px;
}

.contact_modal__label {
  font-size: 36px;
  line-height: 47px;
}

.contact_modal__textarea {
  width: 100%;
  height: 170px;
  border: none;
  border-radius: 5px;
  resize: none;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.button {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover, .button:focus {
  background-color: #DB8876;
  color: #000000;
}

.photographer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.photographer__img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.photographer__name {
  color: #D3573C;
  font-size: 36px;
  line-height: 47px;
  margin-top: 20px;
}

.photographer__city {
  color: #901C1C;
  font-size: 13px;
  line-height: 17px;
}

.photographer__tagline {
  font-size: 10px;
  line-height: 13px;
}

.photographer__price {
  font-size: 9px;
  line-height: 12px;
  color: #757575;
}

.photographer a {
  text-decoration: none;
  text-align: center;
}

.photographer-sort {
  margin: 10px 0 50px 100px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
}

.photographer-sort__select {
  width: 170px;
  height: 70px;
  background-color: #901C1C;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  border: none;
  margin-left: 25px;
}

.photographer-sort__option {
  border: none;
  height: 70px;
}

.photographer-sort__option:hover {
  background-color: #DB8876;
}

.photographer-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 100px;
}

.media {
  font-family: 'DM Sans', sans-serif;
  width: 350px;
}

.media__img, .media__video {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.media__heading {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 30px 0;
}

.media__title, .media__likes {
  color: #901C1C;
  font-size: 24px;
  line-height: 31px;
}

.media__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
}

.media__likes {
  font-weight: 500;
}

.sticky {
  position: fixed;
  bottom: 0;
  right: 40px;
  display: flex;
  justify-content: space-between;
  background-color: #DB8876;
  padding: 20px 35px;
  font-size: 24px;
  line-height: 31px;
  font-weight: 500;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 380px;
}

#contact_modal {
  display: none;
}
/*# sourceMappingURL=main.css.map */