.lightbox {
    &__background {
        display: none;
        align-items: center;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: rgba(255, 255, 255, 0.8);
    }

    &__wrapper {
        max-width: 1000px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        position: relative;
    }

    &__content {
        max-width: 70%;
        height: auto;
    }

    &__desc {
        font-size: 24px;
        line-height: 31px;
        color: $color-primary;
        text-align: left;
    }

    &__img {
        width: 100%;
        border-radius: 5px;
    }

    &__link {
        margin: 0 35px;

        &--close {
            position: absolute;
            right: 15px;
            top: 5px;
            width: 32px;
            height: 32px;
            opacity: 1;
            cursor: pointer;
            transform: scale(0.7);
        }
    }
}