.photographer-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 100px;
}

.media {
    font-family: 'DM Sans', sans-serif;
    width: 350px;

    &__img, &__video {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
    }

    &__heading {
        display: flex;
        justify-content: space-between;
        margin: 10px 0 30px 0;
    }

    &__title, &__likes {
        color: $color-primary;
        font-size: 24px;
        line-height: 31px;
    }

    &__title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 80%;
    }

    &__link--likes {
        text-decoration: none;
    }

    &__likes {
        font-weight: 500;
    }
}

