$color-primary:    #901C1C;
$color-secondary:  #D3573C;
$color-white:      #FFFFFF;
$color-form-label: #312E2E;
$color-modal-bg:   #DB8876;
$color-grey:       #FAFAFA; // Photographers header bg

// $font-weight-light:  300;
// $font-weight-medium: 500;
// $font-weight-bold:   700;